@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *
@use "theme" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoint, $size)
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @esle {
      @media screen and (min-width: $breakpoint) {
        @content;
      }
    }
  } 
  @else {
    @error 'the keyword #{$size} is nor in the breakpoints map';
  }
}

@mixin heading($fs, $color: $heading-color-default) {
  font-size: $fs;
  color: $color;

  font-family: $heading-font-family;
  text-transform: $heading-letter-spacing;
  letter-spacing: $heading-font-weight;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}
